<!DOCTYPE html>
<html>
<head>
    <title>Home Cleaning Rota</title>
</head>
<body>
    <h1>House Cleaning Rota</h1>
    <table border="1">
        <tr>
            <th>Day</th>
            <th>Housemate</th>
            <th>Photo</th>
        </tr>
        <tr>
            <td>Monday</td>
            <td>Ijaz Rauf</td>
            <td><img src="{{ url_for('static', filename='photos/ijaz.jpg') }}" width="100"></td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>Shehryar</td>
            <td><img src="{{ url_for('static', filename='photos/shehryar.jpg') }}" width="100"></td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>Wasif</td>
            <td><img src="{{ url_for('static', filename='photos/wasif.jpg') }}" width="100"></td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>Samad</td>
            <td><img src="{{ url_for('static', filename='photos/samad.jpg') }}" width="100"></td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>Zahid</td>
            <td><img src="{{ url_for('static', filename='photos/zahid.jpg') }}" width="100"></td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>Imran</td>
            <td><img src="{{ url_for('static', filename='photos/imran.jpg') }}" width="100"></td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>All Housemates</td>
            <td><img src="{{ url_for('static', filename='photos/combine.jpg') }}" width="100"></td>
        </tr>
    </table>
</body>
</html>
